{% extends 'base.html' %}
{% block content %}
    <div class="container text-center py-3 align-items-center">
        <div class="card border-secondary mb-3" style="width: 35rem;">
            <img src="{{ item.photoitem.image.url }}" class="card-img-top" alt="Фото товара отсутствует">
            <div class="card-header">
                <p class="card-text">Категория: {{ item.category.name }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.text }}</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
            <div class="card-footer">
                <h6>Теги:
                    {% for tag in item.tag.all %}
                        <span class="badge bg-secondary">{{ tag }}</span>
                    {% endfor %} 
                </h6>
            </div>
        </div>
    </div>
{% endblock %}