{% extends 'base.html' %}
{% block content %}
    <div class="container text-center py-3 align-items-center">
        <div class="card border-secondary mb-3" style="width: 35rem;">
            <img src="{{ item.photoitem.image.url }}" class="card-img-top" alt="Фото товара отсутствует">
            <div class="card-header">
                <p class="card-text">Категория: {{ item.category.name }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.text|truncatewords_html:10|safe }}</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
            <div class="card-footer">
                <h6>Средняя оценка:
                    <span class="badge bg-secondary">{{ avg_rate.rate__avg }}</span>
                </h6>
                <h6>Ваша оценка:
                    {% if user_rate.rate is None %} 
                        <span class="badge bg-secondary">Вы не авторизованы</span>
                    {% else %}
                        <span class="badge bg-secondary">{{ user_rate.rate }}</span>
                    {% endif %}
                </h6>
            </div>
            <div class="card-footer">
                <h6>Теги:
                    {% for tag in item.tags.all %}
                        <span class="badge bg-secondary">{{ tag }}</span>
                    {% endfor %} 
                </h6>
            </div>
        </div>
    </div>
{% endblock %}