{% extends 'base.html' %}
{% block content %}
<div class="container text-center g-2">
    <div class="row row-cols-3 row-cols-lg-1 align-items-stretch g-2 py-3">
        {% for item in items %}
            {% ifchanged item.category.name %} 
                <h5 class="pb-2 border-bottom my-1">{{ item.category.name }}</h2>
            {% endifchanged %}
                <div class="col">
                    {% include 'includes/item.html' %}
                </div>
    {% endfor %}

</div>
{% endblock %}