{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading align-items-center">Письмо с инструкциями по восстановлению пароля отправлено</h4>
      <p>
        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты.
        Вы должны получить ее в ближайшее время. Если вы не получили письмо,
        пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
        и проверьте папку со спамом.
      </p>
      <hr/>
      <p class="mb-0">
        <strong><a href="{% url 'homepage:main' %}">Вернутся на главную</a></strong>
      </p>
    </div>
  </div>
{% endblock content %}
