{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row row-cols-3 row-cols-lg-3 align-items-stretch g-2 py-3">
    </br>
    {% for user in users %}
      <div class="col-6 col-md-4">
        <div class="card">
          <h5 class="card-title">Почта: {{ user.email }}</h5>
          <p class="card-text">Имя: {{ user.first_name }}</p>
          <p class="card-text">Фамилия: {{ user.last_name }}</p>
          <a href="{% url "users:user_detail" user.id %}">Перейти к пользователю</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
