<header>
    <div style="text-align:center">
        {% with request.resolver_match.view_name as view_name %}
            <a {% if view_name == 'homepage:main' %}class="active"{% endif %} href="{% url 'homepage:main' %}">Главная</a>
            <a {% if view_name == 'catalog:item_list' %}class="active"{% endif %} href="{% url 'catalog:item_list' %}">Каталог Товаров</a>
            <a {% if view_name == 'about:main' %}class="active"{% endif %} href="{% url 'about:main' %}">О нас</a>
        {% endwith %}
        <hr>
    </div>
</header>
